body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-between;
}

.logo{
	cursor: pointer;
	height:70px;
	width:70px;
	margin-left:40px;
	
 }

 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
	background: linear-gradient(to right,  rgb(2 124 161),rgb(139 2 173 / 82%));
	top: -0.5px;
	border-radius: 0 0 10px 10px;
	height:70px;
}


header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

#header {
    height: 70px;
    background: linear-gradient(to left, #e99761 0%, #f0bf8e 100%);
}

#llogo {
    width: 140px;
    height: 65px;
    margin-top: 5px;
    margin-left: 5px;
}

.btnHeader{
	margin: 0px 10px;
	border: none;
	background: none;
	color: white;
	outline: none;
	font-size: larger;
	margin-top: 5px;
	}
	.btnHeader:hover{
	background-color: white;
	color: #000000;
	border-radius: 10px;
	padding: 0 5px;
	transition: 0.5s ease;
	cursor: pointer;
	}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.logo {
    float: left;
}

.menu {
    float: right;
    padding-top: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}


.menu ul li a:hover {
    cursor: pointer;
    background-color: rgba(121, 14, 14, 0.774);
}

#content {
    height: 1200px;
}

.content-main {
    height: 500px;
    width: 900px;
    margin-left: 150px;
    margin-top: 50px;
    background-image: url(../img/top-view-photo-of-food-dessert-1099680.jpg);
    animation: slider 16s ease-in-out infinite;
    box-shadow: 1px 1px 10px 5px darkgrey;
    background-size: 100% 100%;
}


@keyframes slider {
    0% {
        background-image: url(../img/top-view-photo-of-food-dessert-1099680.jpg);
    }
    25% {
        background-image: url(../img/blur-breakfast-close-up-dairy-product-376464.jpg);
    }
    55% {
        background-image: url(../img/cupcakes.jpg);
    }
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
}

.card-group {
    display: flex;
    height: 500px;
    width: 1100px;
}

.card {
    width: 300px;
    height: 530px;
    background-color: rgb(228, 222, 222);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px darkgray;
}



#card-image {
    
    height:180px;
    width: 300px;
    margin-left: 0px;
}

.card-content {
    padding: 0 30px;
}

.card-content h4 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.card-button {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-button a {
    text-decoration: none;
    background-color: tomato;
    padding: 8px 15px;
    border-radius: 50px;
    color: black;
    font-size: 15px;
}





/* About Us */

#contentAboutUs {
    height: 1050px;
    background-color: white;
}

.aboutus {
    height: 400px;
    background-color: rgb(223, 217, 217);
    margin-top: 20px;
    border: 1px solid rgb(223, 217, 217);
    box-shadow: 0 0 10px 5px rgb(190, 185, 185);
}

.aboutus h2 {
    font-family: 'Gill Sans';
    font-size: 40px;
    margin-left: 500px;
    margin-top: 30px;
}

.aboutus p {
    font-family: 'Gill Sans';
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.ourteam {
    border: 2px solid rgb(211, 206, 206);
    height: 600px;
    background-color: rgb(211, 206, 206);
    margin-top: 20px;
    box-shadow: 0 0 10px 5px rgb(190, 185, 185);
}

.ourteam h2 {
    font-family: 'Gill Sans';
    font-size: 40px;
    margin-left: 500px;
}

.team {
    display: flex;
    text-align: center;
    width: 600px;
    margin-left: 300px;
    margin-top: 60px;
}

.team .team-member1 {
   
    background: lightsalmon;
    height: 400px;
    margin-right: 20px;
    box-shadow: 0 0 10px 5px lightcoral;
}

.team .team-member h3 {
    margin-top: 40px;
}

#team-img1 {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.socialIcon-team {
    margin-block-start: 35px;
}

.socialIcon-team a {
    margin-right: 10px;
    text-decoration: none;
}

.socialIcon-team i {
    height: 15px;
    width: 15px;
    margin-left: 25px 5px;
    padding: 10px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3%;
}

.socialIcon-team i:hover {
    background-color: white;
}

.mt-2{
    padding-right: 50%;
    margin-left: -50px;   
}


/* ContactUs */

#contactus-box {
  
    background-size: cover;
}

#contact-box {
    height: 600px;
    width: 100%;
    background-position: center;
    margin-block-start: -15px;
    margin-block-end: 80px;
}


.validation {
    visibility: hidden;
    color: red;
    margin: 0;
    padding: 5px 0px;
    font-size: 13px;
}
.contact-box-in {
    width: 100%;
    background: linear-gradient(to right,  rgb(2 124 161),rgb(139 2 173 / 82%));
    box-shadow: 0 0 20px 0 #999;
    margin-top: 15%;
    min-height: 400px;
    margin-block-end: 80px;
    opacity: 95%;
    margin: 200px auto;
}

.container1{
    min-height: auto;
    width: 100%;
}

#firsttr{
    border: 1px solid white;
}

#firsttr thead tr th {
    color: black;
    font-size: 14px;
    font-family: 'Segoe UI';
    padding-right: 1px;
    padding-left: 1px;
    padding-right: 60px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#firsttr thead tr{
    border: 1px solid white;
}

#firsttr tbody tr td{
    color: black;
    font-size: 14px;
    font-family: 'Segoe UI';
    padding-right: 1px;
    padding-left: 1px;
    padding-right: 60px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#editi{
    border-top: 1px solid white;
}
#deleti{
    border-top: 1px solid white;
}

#usertable thead tr td{
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI';
    padding-right: 25px;
    padding-left: 15px;

}


.title {
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.title h1 {
    font-size: 32px;
    line-height: 10px;
}

.title h2 {
    font-size: 16px;
}

form {
    margin-top: 70px;
    margin-left: 100px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: black;
    font-size: 15px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background-color: coral;
    border-color: transparent;
    font-family: 'Gill Sans';
    letter-spacing: 2px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    transition: 0.4s ease;
    font-size: 18px;
    margin-left: 200px;
}

form .submit:hover {
    background-color: thistle;
    cursor: pointer;
}


/* LOG IN */

#login-box {
    background: url(../img/cookies.jpg);
    background-size: cover;
}

#hero {
    height: 620px;
    width: 100%;
    background-position: center;
    margin-block-start: -15px;
}

.form-box-forma {
    width: 380px;
    min-height: 550px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    box-shadow: 0 0 10px 3px rgba(121, 14, 14, 0.774);
    overflow: hidden;
    
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 5px 2px lightpink;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, lightsalmon, white);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-left: -5px;
    margin-block-start: 5px;
}

.input-filed {
    width: 100%;
    padding: 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin-block-start: 2px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, lightsalmon, white);
    outline: none;
    border-radius: 30px;
}

.submit-bt {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, lightsalmon, white);
    outline: none;
    border-radius: 30px;
}

.social-icons {
    margin-top: 420px;
    margin-left: 85px;
    margin-right: 85px;
}

.social-icons a {
    margin-right: 10px;
    text-decoration: none;
}

.social-icons i {
    height: 15px;
    width: 15px;
    margin-left: 25px 5px;
    padding: 10px;
    color: lightsalmon;
    border-radius: 50%;
    border: 1px solid lightsalmon;
    transition: 0.3%;
}

.social-icons i:hover {
    background-color: lightsalmon;
}

#login {
    left: 50px;
}

.validation {
    visibility: hidden;
    color: red;
    margin: 0;
    padding: 5px 0px;
    font-size: 13px;
}

#register {
    left: 450px;
}

.forgetpass {
    font-size: 12px;
    font-family: 'Gill Sans';
    margin-left: 90px;
    font-style: italic;
    font-weight: bold;
    color: grey;
}

.terms {
    font-size: 12px;
    font-family: 'Gill Sans';
    margin-left: 90px;
    font-style: italic;
    font-weight: bold;
    color: grey;
    margin-left: 22px;
    margin-top: -33px;
}


/* Footer */

#footer {
    height: 300px;
    background: linear-gradient(to left, #e99761 0%, #f0bf8e 100%);
}

.box{
    width: 33.1%;
    height: 255px;
    float: left;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    color: white;
}

.logo1 {
    margin-top: 8px;
}

.logo1 p {
    font-family: 'Gill Sans';
    font-style: oblique;
    font-size: 18px;
}

.links {
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-right: 25px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-block-start: -10px;
}

.links ul {
    margin-block-start: 3px;
}

.links ul a {
    text-decoration: none;
    color: white;
}

.contact {
    color: white;
    display: flex;
    flex: center;
    margin-top: -12px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}

.contact ul {
    list-style-type: none;
}

.info {
    margin-left: -42px;
    font-size: 16px;
    font-family: 'Gill Sans';
}

.info ul li {
    margin-top: 10px;
}

.socialIcon {
    margin-top: 15px;
    margin-left: -20px;
}

.socialIcon a {
    margin-right: 10px;
    text-decoration: none;
}

.socialIcon i {
    height: 15px;
    width: 15px;
    margin-left: 25px 5px;
    padding: 10px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3%;
}

.socialIcon i:hover {
    background-color: white;
}

.footerbottom {
    width: 1200px;
    height: 33px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 15px;
    padding-top: 10px;
    color: white;
}


.menubar {
    border:none;
    display: flex;
    display: inline-flex;
    flex-direction: column;
    margin-top: 69.5px;
    width: 200px;
    height: 670px;
    background-color:#027CA1;
    border-radius: 0 0 30px 0;
    position: absolute;

    
}

#menubutton {
    border: none;
    background-color: orangered;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: white;
}

#menubutton:hover{
	background-color: white;
	color: #000000;
	border-radius: 10px;
	padding: 0 5px;
	transition: 0.5s ease;
	cursor: pointer;
	}

.main_content_student{
    
    width: 1517px;
    height: 675px;    
    margin-top: 69.5px;
    
}

#submit{
    border: none;
    border-radius: 20px;
    height: 20px;
}

#content{
    display: flex;
    flex-direction: row;
}

#welcome{
    margin-left: 600px;
    margin-top: 50px;
    display: inline-flex;
}

.courses_form{
    width: 85%;
    min-height: 334px;
    border-radius: 30px;
    background-color: rgb(212, 205, 203);
    margin-top: 50px;
    margin-left: 210px;
    display: inline-flex;
}



.enroll_form{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    background:  linear-gradient(to right,  rgb(2 124 161),rgb(139 2 173 / 82%));
    margin-left: 500px;
    margin-bottom: 150px;
    position: absolute;
    bottom: 100px;
    left: 180px;
    display: none;
}

#enrolltxt{
    display: inline-block;
    padding-left: 10px;
}
#x{
    display: inline-block;
    margin-left: 20px;
}

.books_form{
    width: 85%;
    min-height: 334px;
    border-radius: 30px;
    background-color: rgb(212, 205, 203);
    margin-top: 50px;
    margin-left: 210px;
}

.info_form{
    width: 500px;
    min-height: 334px;
    border-radius: 30px;
    background-color: rgb(212, 205, 203);
    margin-top: 50px;
    margin-left: 580px;
    display: flex;
    flex-direction: row;
}

.materials_form{
    width: 500px;
    min-height: 334px;
    border-radius: 30px;
    background-color: rgb(212, 205, 203);
    margin-top: 50px;
    margin-left: 580px;
}

table tr td{
    padding-right: 180px;
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#enrollbutton{
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: rgb(2, 124, 0);
    color: white;
}

#tabela_books tr td{
    padding-left: 40px;
    padding-right: 450px;
}
#tabela_info tr td{
    padding-left: 40px;
    padding-right: 170px;
}

#link1sub{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#tabela_materials tr td{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
}

#close_materials{
    margin-left: 460px;
    text-decoration: none;
    color: #000000;
}

ul li{
    list-style-type: none;
}